<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/img/404-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Page not found</h1>
                            <span class="subheading">Here is our 404 error page</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2>Lost (by David Wagoner)</h2>
                        <p>Stand still. The trees ahead and bushes beside you<br>
                            Are not lost. Wherever you are is called Here,<br>
                            And you must treat it as a powerful stranger,<br>
                            Must ask permission to know it and be known.<br>
                            The forest breathes. Listen. It answers,<br>
                            I have made this place around you.<br>
                            If you leave it, you may come back again, saying Here.<br>
                            No two trees are the same to Raven.<br>
                            No two branches are the same to Wren.<br>
                            If what a tree or a bush does is lost on you,<br>
                            You are surely lost. Stand still. The forest knows<br>
                            Where you are. You must let it find you.</p>
                    </div>
                </div>
            </div>
        </main>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
